---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/deals/v1/deal/paged?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"deals":[{"portalId":62515,"dealId":18708706,"isDeleted":false,"associations":null,"properties":{},"imports":[],"stateChanges":[]},{"portalId":62515,"dealId":18708721,"isDeleted":false,"associations":null,"properties":{},"imports":[],"stateChanges":[]},{"portalId":62515,"dealId":18708736,"isDeleted":false,"associations":null,"properties":{},"imports":[],"stateChanges":[]},{"portalId":62515,"dealId":18708746,"isDeleted":false,"associations":null,"properties":{},"imports":[],"stateChanges":[]},{"portalId":62515,"dealId":18708751,"isDeleted":false,"associations":null,"properties":{},"imports":[],"stateChanges":[]},{"portal[...]
- request:
    method: get
    uri: https://api.hubapi.com/deals/v1/deal/recent/modified?count=2&hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"results":[{"portalId":62515,"dealId":195440949,"isDeleted":false,"associations":{"associatedVids":[4832674],"associatedCompanyIds":[],"associatedDealIds":[]},"properties":{"dealname":{"value":"Leaky
        faucet in LA","timestamp":1506705006738,"source":"API","sourceId":null,"versions":[{"name":"dealname","value":"Leaky
        faucet in LA","timestamp":1506705006738,"source":"API","sourceVid":[]}]},"hs_analytics_source":{"value":"OFFLINE","timestamp":1506705013912,"source":"CALCULATED","sourceId":"deal
        sync triggered by vid=4832674","versions":[{"name":"hs_analytics_source","value":"OFFLINE","timestamp":1506705013912,"sourceId":"deal
        sync triggered by vid=4832674","source":"CALCULATED","sourceVid":[]}]},"hs_lastmodifieddate":{"value":"1506705014189","timestamp":1506705014189,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1506705014189","timestamp":1506705014189,"source":"CALCULATED","sourceVid":[]}]},"num_associated_contacts":{"value":"1","timestamp":0,"source":"CALCULATED","sourceId":null,"versions":[{"name":"num_associated_contacts","value":"1","source":"CALCULATED","sourceVid":[]}]},"hs_createdate":{"value":"1506705006738","timestamp":1506705006738,"source":"API","sourceId":null,"versions":[{"name":"hs_createdate","value":"1506705006738","timestamp":1506705006738,"source":"API","sourceVid":[]}]},"createdate":{"value":"1506705006738","timestamp":1506705006738,"source":"API","sourceId":null,"versions":[{"name":"createdate","value":"1506705006738","timestamp":1506705006738,"source":"API","sourceVid":[]}]},"hs_analytics_source_data_2":{"value":"","timestamp":1506705007250,"source":"CALCULATED","sourceId":"deal
        sync with no associated contacts","versions":[{"name":"hs_analytics_source_data_2","value":"","timestamp":1506705007250,"sourceId":"deal
        sync with no associated contacts","source":"CALCULATED","sourceVid":[]}]},"hs_analytics_source_data_1":{"value":"API","timestamp":1506705013912,"source":"CALCULATED","sourceId":"deal
        sync triggered by vid=4832674","versions":[{"name":"hs_analytics_source_data_1","value":"API","timestamp":1506705013912,"sourceId":"deal
        sync triggered by vid=4832674","source":"CALCULATED","sourceVid":[]}]}},"imports":[],"stateChanges":[]},{"portalId":62515,"dealId":195437510,"isDeleted":false,"associations":{"associatedVids":[4832224],"associatedCompanyIds":[],"associatedDealIds":[]},"properties":{"[...]
- request:
    method: get
    uri: https://api.hubapi.com/deals/v1/deal/recent/modified?count=1&hapikey=demo&offset=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"results":[{"portalId":62515,"dealId":195437510,"isDeleted":false,"associations":{"associatedVids":[4832224],"associatedCompanyIds":[],"a[...]
- request:
    method: get
    uri: https://api.hubapi.com/deals/v1/deal/paged?hapikey=demo&includeAssociations=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"deals":[{"portalId":62515,"dealId":18708706,"isDeleted":false,"associations":{"associatedVids":[],"associatedCompanyIds":[],"associatedDea[...]
- request:
    method: get
    uri: https://api.hubapi.com/deals/v1/deal/paged?hapikey=demo&includeAssociations=true&limit=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"deals":[{"portalId":62515,"dealId":18708706,"isDeleted":false,"associations":{"associatedVids":[],"associatedCompanyIds":[],"associatedDealIds":[]},"properties":{"num_associated_contacts":{"value":"0","timestamp":0,"source":"CALCULATED","sourceId":null,"versions":[{"name":"num_associated_contacts","value":"0","source":"CALCULATED","sourceVid":[]}]}},"imports":[],"stateChanges":[]},{"portalId":62515,"dealId":18708721,"isDeleted":false,"associations":{"associatedVids":[],"associatedCompanyIds":[],"associatedDealIds":[]},"properties":{"num_associated_contacts":{"value":"0","timestamp":0,"source":"CALCULATED","sourceId":null,"versions":[{"name":"num_associated_contacts","value":"0","source":"CALCULATED","sourceVid":[]}]}},"imports":[],"stateChanges":[]}],"hasMore":true,"offset":18708721}'
  recorded_at: Fri, 29 Sep 2017 23:04:32 GMT
- request:
    method: get
    uri: https://api.hubapi.com/deals/v1/deal/paged?hapikey=demo&includeAssociations=true&limit=1&offset=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"deals":[{"portalId":62515,"dealId":18708706,"isDeleted":false,"associations":{"associatedVids":[],"associatedCompanyIds":[],"associatedDealIds":[]},"properties":{"num_associated_contacts":{"value":"0","timestamp":0,"source":"CALCULATED","sourceId":null,"versions":[{"name":"num_associated_contacts","value":"0","source":"CALCULATED","sourceVid":[]}]}},"imports":[],"stateChanges":[]}],"hasMore":true,"offset":18708706}'
  recorded_at: Fri, 29 Sep 2017 23:08:46 GMT
[...]
- request:
    method: get
    uri: https://api.hubapi.com/deals/v1/deal/paged?hapikey=demo&includeAssociations=true&properties=dealstage
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"deals":[{"portalId":62515,"dealId":18708706,"isDeleted":false,"associations":{"associatedVids":[],"associatedCompanyIds":[],"associatedDealIds":[]},"properties":{"dealname":{"value":"MadKudu","timestamp":1505858610672,"source":"API","sourceId":null,"versions":[{"name":"dealname","value":"MadKudu","timestamp":1505858610672,"source":"API","sourceVid":[]}]},"amount":{"value":"60000","timestamp":1458411473338,"source":"API","sourceId":null,"versions":[{"name":"amount","value":"60000","timestamp":1458411473338,"source":"API","sourceVid":[]}]},"num_associated_contacts":{"value":"0","timestamp":0,"source":"CALCULATED","sourceId":null,"versions":[{"name":"num_associated_contacts","value":"0","source":"CALCULATED","sourceVid":[]}]}},"imports":[],"stateChanges":[]},{"portalId":62515,"dealId":18708721,"isDeleted":false,"associations":{"associatedVids":[],"associate[...]
